@charset "UTF-8";

/* TABLE OF CONTENTS
    #BASE CONTENT
        #WEBFONTS & TYPOGRAPHY
        #TESTING
        #RESET
        #LOGO
        #HERO
        #ABOUT
------------*/

/* #TYPOGRAPHY  */
/* Reference
	62.5%  => 10px
	68.8%  => 11px
	75%    => 12px
	81.3%  => 13px
	87.5%  => 14px
	100%   => 16px
	112.5% => 18px
	125%   => 20px
*/

/* WEBFONTS & TYPOGRAPHY */

@font-face {
    font-family: bryant-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url("https://use.typekit.net/xyk3axk.css");
}

body {
    font-family: bryant-web, sans-serif;
    color: #68C5AE;
    background-color: #11294C;
    text-align: center;
    margin: 0;

}

h1, p {
    margin: 0;
}

h1 {
    margin: 4em 0 0 0;
    font-weight: 400;
}

  #wrapper{
      width: 100%;
      max-width: 725px;
      margin: 0px auto;
  }
  .gears{
    width:48%;
    display: inline-block;
  }
  .gears:first-child{
    margin-right: 3%;
  }
  .gears-container{
      width:150px; 
      height: 150px;
      font-size:24px;
      padding: 9%;
      position: relative; 
      margin: 0px auto;
  }
  .message{
    text-align: left;
    letter-spacing: .15em;
    padding: 40px;
    line-height: 1.5em;
    font-size: .75em;
    background: #F6F6F6; 
    height: 100%;
  }
  .message h1{
    margin-bottom: .25em; 
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 1rem;
    border-bottom: 4px solid #DE1B1B; 
  }
  .gear-rotate{
      width: 2em;
      height: 2em;
    top: 50%; 
    left: 50%; 
    margin-top: -1em;
    margin-left: 0em;
      background: #68C5AE;
      position: absolute;
      border-radius: 1em;
      -webkit-animation: 1s gear-rotate linear infinite;
      -moz-animation: 1s gear-rotate linear infinite;
      animation: 1s gear-rotate linear infinite;
  }
  .gear-rotate-left{
    margin-top: -2.2em;
    margin-left: 0.6em;
    top: 50%;
    width: 2em;
      height: 2em;
      background: #68C5AE;
      position: absolute;
      border-radius: 1em;
    -webkit-animation: 1s gear-rotate-left linear infinite;
    -moz-animation: 1s gear-rotate-left linear infinite;
    animation: 1s gear-rotate-left linear infinite;
  }
  
  .gear-rotate::before, .gear-rotate-left::before {
      width: 2.8em;
      height: 2.8em;
      background: 
      -webkit-linear-gradient(0deg,transparent 39%,#68C5AE 39%,#68C5AE 61%, transparent 61%),
      -webkit-linear-gradient(60deg,transparent 42%,#68C5AE 42%,#68C5AE 58%, transparent 58%),
      -webkit-linear-gradient(120deg,transparent 42%,#68C5AE 42%,#68C5AE 58%, transparent 58%);
      background: 
      -moz-linear-gradient(0deg,transparent 39%,#68C5AE 39%,#47EC19 61%, transparent 61%),
      -moz-linear-gradient(60deg,transparent 42%,#68C5AE 42%,#68C5AE 58%, transparent 58%),
      -moz-linear-gradient(120deg,transparent 42%,#68C5AE 42%,#68C5AE 58%, transparent 58%);
      background: 
      -o-linear-gradient(0deg,transparent 39%,#68C5AE 39%,#68C5AE 61%, transparent 61%),
      -o-linear-gradient(60deg,transparent 42%,#68C5AE 42%,#68C5AE 58%, transparent 58%),
      -o-linear-gradient(120deg,transparent 42%,#47EC19 42%,#68C5AE 58%, transparent 58%);
      background: -ms-linear-gradient(0deg,transparent 39%,#68C5AE 39%,#68C5AE 61%, transparent 61%),-ms-linear-gradient(60deg,transparent 42%,#68C5AE 42%,#68C5AE 58%, transparent 58%),-ms-linear-gradient(120deg,transparent 42%,#68C5AE 42%,#68C5AE 58%, transparent 58%);
      background: 
        linear-gradient(0deg,transparent 39%,#68C5AE 39%,#68C5AE 61%, transparent 61%),
      linear-gradient(60deg,transparent 42%,#68C5AE 42%,#68C5AE 58%, transparent 58%),
      linear-gradient(120deg,transparent 42%,#68C5AE 42%,#68C5AE 58%, transparent 58%);
      position: absolute;
      content:"";
      top: -.4em;
      left: -.4em;
      border-radius:1.4em;
  }
  .gear-rotate::after, .gear-rotate-left::after {
      width: 1em;
      height: 1em;
      background: #11294C;
      position: absolute;
      content:"";
      top: .5em;
      left: .5em;
      border-radius: .5em;
  }
  
  /*
   * Keyframe Animations 
   */ 
  
  @-webkit-keyframes gear-rotate {
    0% { 
      -webkit-transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(-180deg); 
    }
  }
  
  @-moz-keyframes gear-rotate {
    0% { 
      transform: rotate(0deg);
    }
    100% { 
      transform: rotate(-180deg); 
    }
  }
  
  @keyframes gear-rotate {
    0% { 
      transform: rotate(0deg); 
    }
    100% { 
      transform: rotate(-180deg); 
    }
  }
  
  @-webkit-keyframes gear-rotate-left {
   0% {
     -webkit-transform: rotate(30deg); 
    }
    100% {
      -webkit-transform: rotate(210deg);
    }
  }
  
  @-moz-keyframes gear-rotate-left {
   0% { 
     -webkit-transform: rotate(30deg); 
    }
    100% { 
      -webkit-transform: rotate(210deg);
    }
  }
  
  @keyframes gear-rotate-left {
   0% { 
     -webkit-transform: rotate(30deg); 
    }
    100% { 
      -webkit-transform: rotate(210deg);
    }
  }