@charset "UTF-8";

/* TABLE OF CONTENTS
    #BASE CONTENT
        #WEBFONTS & TYPOGRAPHY
        #RESET
        #BODY
            #NAV

------------*/

/* #TYPOGRAPHY  */
/* Reference
	62.5%  => 10px
	68.8%  => 11px
	75%    => 12px
	81.3%  => 13px
	87.5%  => 14px
	100%   => 16px
	112.5% => 18px
	125%   => 20px
*/

/* WEBFONTS & TYPOGRAPHY */

@font-face {
    font-family: bryant-web, sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url("https://use.typekit.net/xyk3axk.css");
}

/* RESET */
body {
    font-family: bryant-web, sans-serif;
    color: #68C5AE;
    /* background-color: #11294C; */
    /* text-align: center; */
    background-image: url(https://github.com/JulzVision/amorphian/blob/dev/img/SVG/placeholder_1440.svg);
    margin: 0;

}

/* NAV */

li {
    list-style-type: none
}
